<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head",{"css":["header", "cart", "footer"]})%>

<body>
    <%-include("../partials/header")%> 
    <main>
        <section id= "contenedor">
            <h1><%= proyecto.nombre %></h1>
        </section>
        <h2>Recompensa > </h2>
        <h2>Categorias</h2>
        <section id= "contenedorOp">
            <article>
                <form action="/contribuir" method="post">
                    <label class= "opcionesContr">
                        <label class="flex-titulo">
                            <input type="radio" name= "medio" value="Bronce"><input type="hidden" name="proyecto" value="<%= proyecto.id %>">
                            <p class= "titulosContr">Contribución Bronce</p>
                        </label>
                            <p class="textoContr"><%= proyecto.contribucionBronce %></p>
                        <label class="flex-precio">
                            <p class="precio"><%= proyecto.precioBronce %></p>
                            <button class="continuar" type="submit">Continuar</button>
                        </label>
                    </label>
                </form>
            </article>
            <article>
                <form action="/contribuir" method="post">
                    <label class= "opcionesContr">
                        <label class="flex-titulo">
                            <input type="radio" name= "medio" value="Plata"><input type="hidden" name="proyecto" value="<%= proyecto.id %>">
                            <p class= "titulosContr">Contribución Plata</p>
                        </label>
                            <p class="textoContr"><%= proyecto.contribucionPlata %></p>
                        <label class="flex-precio">
                            <p class="precio"><%= proyecto.precioPlata %></p>
                            <button class="continuar" type="submit">Continuar</button>
                        </label>
                    </label>
                </form>
            </article>
            <article>
                <form action="/contribuir" method="post">
                    <label class= "opcionesContr">
                        <label class="flex-titulo">
                            <input type="radio" name= "medio" value="Oro"><input type="hidden" name="proyecto" value="<%= proyecto.id %>">
                            <p class= "titulosContr">Contribución Oro</p>
                        </label>
                            <p class="textoContr"><%= proyecto.contribucionOro %></p>
                        <label class="flex-precio">
                            <p class="precio"><%= proyecto.precioOro %></p>
                            <button class="continuar" type="submit">Continuar</button>
                        </label>
                    </label>
                </form>
            </article>
        </section>
        <section>
            <article id= "textoPatrocinar">
                <h3>Patrocinar no es comprar.</h3>
                <p>Estás apoyando una actividad creativa ambiciosa.</p>
                    <p>TechnoStarter no es una tienda. Tampoco garantiza los proyectos ni investiga la capacidad de los creadores de concretarlos.</p> 
                    <p>El creador es el único responsable de lo que les promete a sus patrocinadores y de las declaraciones que hace con respecto al proyecto.</p>
                    <p>Más información sobre las responsabilidades</p>
                <h3>PREGUNTAS FRECUENTES</h3>
                    <ul id="preguntas">
                        <li>¿Cómo hago una contribución?</li>
                        <li>¿Cuándo se realizan cargos a mi tarjeta?</li>
                        <li>¿Entonces sólo me realizan el cargo si el financiamiento está completo?</li>
                        <li>¿Qué datos de mi contribución pueden ver los demás?</li>
                        <li>¿Qué ocurre si quiero modificar mi contribución?</li>
                        <li>Si se financia este proyecto, ¿cómo obtengo mi recompensa?</li>
                    </ul>
            </article>
        </section>
    </main>
    <%- include("../partials/footer")  %> 
</body>
</html>