<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head",{"css":["header", "robotica", "footer"]})%>

<body>
    <%-include("../partials/header")%> 
    <main>
        <section class="border">
                <section>
                    <h1><%= categorias.nombre %></h1>
                </section>
            <% proyectos.forEach(proyecto => { %>
                <section class="robotica"> 
                    <section class="flex-recomendaciones">
                        <figure>
                            <a href="/proyecto/producto/<%= proyecto.id %>"><img src="/uploads/products/<%= proyecto.imagenes[0].url_imagen %> " alt="tiBeast"></a>
                        </figure>
                        <article>
                            <h2 class="titulo-reco margin-articleInterior"><%= proyecto.nombre %></h2>
                            <h2 class="precio margin-articleInterior">$<%= proyecto.contribucionActual %></h2>
                            <p class="meta margin-articleInterior">contribuido de meta $<%= proyecto.contribucionFinal %></p>
                            <p class="patrocinadores margin-articleInterior"><%= proyecto.patrocinadores %> patrocinadores</p>
                            <p class="patrocinadores margin-articleInterior"><%= proyecto.fecha %></p>
                            <p class="ubicacion margin-articleInterior"><i class="fas fa-map-marker-alt"></i> <%= proyecto.ubicacion %></p>
                        </article>
                    </section>
                    <section class="flex-thumbs">
                        <a href=""><i class="far fa-bookmark"></i></a>
                        <a href=""><i class="far fa-thumbs-up"></i></a>
                        <a href=""><i class="far fa-thumbs-down"></i></a>
                    </section>
                </section>
            <% }) %> 
        </section>
    </main>
    <%-include("../partials/footer")%> 
</body>