<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head",{"css":["header", "borrarProyecto", "footer"]})%>

<body>
    <%-include("../partials/header")%> 
    <main>
        <section class="titulo">
            <h2>Borrar <%= proyecto.nombre%></h2>
        </section>
        <form action="/proyecto/delete/<%= proyecto.id %>?_method=DELETE" method="POST" id="borrarProyectos">
            <fieldset id="nombre-proyecto">
                    <p>Hasta luego <%= proyecto.nombre%>! Te esperamos para mas proyectos! Nos vemos pronto</p>
            </fieldset>
            <button id="button" type="submit">Borrar campaña</button>
        </form>
    </main>
    <%-include("../partials/footer")%> 
</body>
</html>