<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head",{"css":["header", "formularioCrear", "footer"]})%>

<body>
    <%-include("../partials/header")%> 
    <main>
        <section class="titulo">
            <h2>Creación de Proyectos</h2>
        </section>
        <section class="formulario"> <!--crear logica guardadofinal-->
            <form action="/proyecto/guardar" method="POST" id="crearProductos" enctype="multipart/form-data">
                <fieldset id="nombre-proyecto">
                    <label for="nombreProducto">Nombre de tu proyecto: </label>
                    <input type="text" placeholder="Nombrá tu proyecto" name="nombreProducto" id="nombreProducto" required>
                </fieldset>
                <fieldset id="ubicacion-proyecto">
                    <label id="ubicacion-proyecto">Contanos de donde sos:</label>
                    <input type="text" placeholder="Yo soy de.." name="ubicacion" id="ubicacion" required>
                </fieldset>
                <h3>¡Elige la categoria de tu proyecto!</h3>
                <fieldset id="categorias-proyecto">
                    <% categorias.forEach(categoria => { %>
                        <label for="<%= categoria.id %>"><%= categoria.nombre%></label>
                        <input type= "radio" name="categoria" id="<%= categoria.id %>" value="<%= categoria.id %>">
                    <% }) %>
                </fieldset>
                <fieldset id="descripcion-proyecto">
                    <h3>¡Contanos de que se trata tu proyecto!</h3>
                    <p>(Quedate tranquilo que mas adelante podes editar la información)</p>
                    <textarea rows="15" cols="30" placeholder="Escribí la historia de tu proyecto..." id="textoProyecto" name="textoProyecto" required></textarea>
                </fieldset>
                <fieldset id="fecha-proyecto">
                    <label for="fecha">Establece la fecha limite de tu proyecto</label>
                    <input type="date" id="fechaProyecto" min="2021-01-01" max="2099-12-31" name="fechaProyecto">
                </fieldset>
                <fieldset id="fotos-proyecto">
                    <label for="fotosProyecto">Subí una o varias fotos</label>
                    <input type="file" name="fotosProyecto" id="fotosProyecto" required multiple>
                </fieldset>
                <fieldset id="flex-contribuciones">
                    <h3>Contribuciones</h3>
                    <p>Establece las recompensas que tendrá cada contribución</p>
                    <fieldset>
                        <label for="bronce" id="bronce-label">Contribución Bronce</label>
                        <textarea rows="10" cols="10" placeholder="Contribución bronce" name="bronce" id="bronce" required></textarea>
                        <p>Establece el precio</p>
                        <input type="number" name="precioBronce" id="precioBronce" placeholder="EJ: $100" required>
                    </fieldset>
                    <fieldset>
                        <label for="plata" id="plata-label">Contribución Plata</label>
                        <textarea rows="10" cols="10" placeholder="Contribución plata" name="plata" id="plata" required></textarea>
                        <p>Establece el precio</p>
                        <input type="number" name="precioPlata" id="precioPlata" placeholder="EJ: $200" required> 
                    </fieldset>
                    <fieldset>
                        <label for="oro" id="oro-label">Contribución Oro</label>
                        <textarea rows="10" cols="10" placeholder="Contribución oro" name="oro" id="oro" required></textarea>
                        <p>Establece el precio</p>
                        <input type="number" name="precioOro" id="precioOro" placeholder="EJ: $300" required>
                    </fieldset>
                </fieldset>
                <fieldset id="precio-proyecto">
                    <h3>¡Establece una meta para tu proyecto!</h3>
                    <label for="precioProyecto"></label>
                    <input type="number" name="precioProyecto" id="precioProyecto" placeholder="EJ: 10.000" required>
                </fieldset>
                <fieldset class="flex-botones">
                    <button type="submit"> Enviar</button>
                    <button type="reset"> Reiniciar</button>
                </fieldset>
            </form>
            </section>
    </main>
    <%-include("../partials/footer")%> 
</body>
</html>