<!DOCTYPE html>
<html lang="en">
    
    <%-include("../partials/head",{"css":["header", "proyectDetail", "footer"]})%>

<body>

    <%-include("../partials/header")%> 
    
<main>
    <section id= "contenedor">
            <h1><%= proyectoDB.nombre %></h1>
    </section>
    <section id= "contPrincipal">
        <article id="contPrincipal1">
            <img src="<%= (proyectoDB.imagenes[0] != undefined) ? proyectoDB.imagenes[0].url_imagen : "/uploads/products/defaultImagen.jpg"%>" alt="imagen">
            <p><i class="fas fa-map-marker-alt"></i> SA Miguel, TUC</p>
        </article>
        <article id="contPrincipal2">
                <h1><%= proyectoDB.nombre %></h1>
                <h2>$<%= proyectoDB.contribucionActual %></h2>
                <h1>contribuido de meta $<%= proyectoDB.contribucionFinal %></h1>
                <p>Hasta el <%= proyectoDB.fecha %></p>
                <button><a href="/carrito/<%= proyectoDB.id %>">Patrocina esta campaña</a></button>
                <% if(user || user.admin) {%>
                <button><a href="/proyecto/editar/<%= proyectoDB.id %>">Editar campaña</a></button>
                <button><a href="/proyecto/borrar/<%= proyectoDB.id %>">Borrar campaña</a></button>
                <%}%>
        </article>
    </section>
    <section id="campaña">
            <h3>Campaña</h3>
            <h3><a href="/carrito/<%= proyectoDB.id %>">Patrocina esta campaña</a></h3>
            <h3><a href=""><i class="far fa-bookmark"></i> Recuerdame</a></h3>
    </section>
    <section id="descripcion">
        <h1>HISTORIA</h1>
        <h2>
            <%= proyectoDB.nombre %>
        </h2>
        <p> 
            <%= proyectoDB.texto %> 
        </p>
    <img src="<%= (proyectoDB.imagenes[0] != undefined) ? proyectoDB.imagenes[0].url_imagen : "/uploads/products/defaultImagen.jpg"%>" alt="imagen">
    </section>
    <section class="contribuciones">
        <section class="titulo-contribuciones">
            <article><h2>Como funciona las contribuciones</h2></article>
        </section>
        <section class="flex-comoFunciona">
            <article>
                <section class="flex-comoFunciona-n">
                    <figure>
                        <img src="/img/technoStarter/numero1TechnoStarter.png" alt="">
                    </figure>
                </section>
                <section>
                    <h2>Iniciar una campaña</h2>
                    <p>Crea tu proyecto en TechnoStarter en pocos minutos a través de un procedimiento fácil y rápido.</p>
                </section>
            </article>
            <article>
                <section class="flex-comoFunciona-n">
                    <figure>
                        <img src="/img/technoStarter/numero2TechnoStarter.png" alt="">
                    </figure>
                </section>
                <section>
                    <h2>Comparte tu historia</h2>
                    <p>Comparte tu proyecto para obtener apoyo. Cuanta mas gente se interese en tu proyecto mas rapido llegaras a tu objetivo de donaciones.</p>
                </section>
            </article>
            <article>
                <section class="flex-comoFunciona-n">
                    <figure>
                        <img src="/img/technoStarter/numero3TechnoStarter.png" alt="">
                    </figure>
                </section>
                <section>
                    <h2>Gestiona tu campaña</h2>
                    <p>Recibe notificaciones sobre los nuevos donativos, mantén informados a tus donantes, envía agradecimientos, gestiona tus retiros de fondos y finaliza tu tan soñado proyecto!.</p>
                </section>
            </article>
        </section>
    </section>
        <section id="cajaRecomendaciones">
        <h1>También recomendamos</h1>
        <% recomendados.forEach(recomendado => { %>
        <article class="recomendacion">
            <a href="/proyecto/producto/<%= recomendado.id %>"><img src="<%= (recomendado.imagenes[0] != undefined) ? recomendado.imagenes[0].url_imagen : "/uploads/products/defaultImagen.jpg"%>" alt="imagen de recomendacion"></a>
            <p><%= recomendado.nombre %></p>
            <p><i class="fas fa-map-marker-alt"></i> <%= recomendado.ubicacion %></p>
        </article>
        <% }) %>
    </section>  
</main>
    
    <%- include("../partials/footer")%> 

</body>
</html>
    

    
    