<!DOCTYPE html>
<html lang="en">
    
    <%-include("../partials/head",{"css":["header", "proyectDetail", "footer"]})%>

<body>

    <%-include("../partials/header")%> 
    
<main>
    <section id= "contenedor">
            <h1><%= proyectoDB.nombre %></h1>
    </section>
    <section id= "contPrincipal">
        <article id="contPrincipal1">
            <img src="/uploads/products/<%= (proyectoDB.imagenes[0] != undefined) ? proyectoDB.imagenes[0].url_imagen : "defaultImagen.jpg"%>" alt="imagen">
            <p><i class="fas fa-map-marker-alt"></i> <%= proyectoDB.ubicacion %></p>
        </article>
        <article id="contPrincipal2">
                <h1><%= proyectoDB.nombre %></h1>
                <h2>$<%= proyectoDB.contribucion_actual %></h2>
                <h1>contribuido de meta $<%= proyectoDB.contribucion_final %></h1>
                <p>Desde <%= proyectoDB.fecha_inicial %></p>
                <p>Hasta <%= proyectoDB.fecha_limite %></p>
                <article id="botones">
                    <button><a href="/carrito/<%= proyectoDB.id %>">Patrocinar</a></button>
                    <% if(user && user.admin) {%>
                    <button><a href="/proyecto/editar/<%= proyectoDB.id %>">Editar campaña</a></button>
                    <button><a href="/proyecto/borrar/<%= proyectoDB.id %>">Borrar campaña</a></button>
                    <%}%>
                </article>
        </article>
    </section>
    <section id="campaña">
            <h3>Campaña</h3>
            <h3><a href="/carrito/<%= proyectoDB.id %>">Patrocina esta campaña</a></h3>
            <h3><a href=""><i class="far fa-bookmark"></i> Recuerdame</a></h3>
    </section>
    <section id="descripcion">
        <h1>HISTORIA</h1>
        <h2>
            <%= proyectoDB.nombre %>
        </h2>
        <p> 
            <%= proyectoDB.texto %> 
        </p>
    <img src="/uploads/products/<%= (proyectoDB.imagenes[0] != undefined) ? proyectoDB.imagenes[0].url_imagen : "defaultImagen.jpg"%>" alt="imagen">
    </section>
    <section class="contribuciones">
        <section class="titulo-contribuciones">
            <article><h2>¿Como funcionan las contribuciones?</h2></article>
        </section>
        <section class="flex-comoFunciona">
            <article>
                <section class="flex-comoFunciona-n">
                    <figure>
                        <img src="/img/technoStarter/numero1TechnoStarter.png" alt="">
                    </figure>
                </section>
                <section>
                    <h2>Ayuda de los Usuarios</h2>
                    <p>Los usuarios iran contribuyendo para conseguir recompensas a cambio de ayudar al proyecto!</p>
                </section>
            </article>
            <article>
                <section class="flex-comoFunciona-n">
                    <figure>
                        <img src="/img/technoStarter/numero2TechnoStarter.png" alt="">
                    </figure>
                </section>
                <section>
                    <h2>Contribuciones</h2>
                    <p>Existen 3 tipos de contribuciones. Bronce, Plata y Oro. Dependiendo del nivel que elijas mejores serán las recompensas</p>
                </section>
            </article>
            <article>
                <section class="flex-comoFunciona-n">
                    <figure>
                        <img src="/img/technoStarter/numero3TechnoStarter.png" alt="">
                    </figure>
                </section>
                <section>
                    <h2>Recta Final</h2>
                    <p>Si el proyecto consigue llegar al limite propuesto antes de la fecha de caducidad, cada usuario recibira su recompensa, caso contrario se rembolsará su inversión!</p>
                </section>
            </article>
        </section>
    </section>
        <section id="cajaRecomendaciones">
        <h1>También recomendamos</h1>
        <% recomendados.forEach(recomendado => { %>
        <article class="recomendacion">
            <a href="/proyecto/producto/<%= recomendado.id %>"><img src="/uploads/products/<%= (recomendado.imagenes[0] != undefined)  ? recomendado.imagenes[0].url_imagen : "defaultImagen.jpg"%>" alt="imagen de recomendacion"></a>
            <p><%= recomendado.nombre %></p>
            <p>Hasta el <%= recomendado.fecha_limite %></p>
            <p><i class="fas fa-map-marker-alt"></i> <%= recomendado.ubicacion %></p>
        </article>
        <% }) %>
    </section>  
</main>
    
    <%- include("../partials/footer")%> 

</body>
</html>
    

    
    