<!DOCTYPE html>
<html lang="en">
    
    <%-include("../partials/head",{"css":["header", "proyectDetail", "footer"]})%>

<body>

    <%-include("../partials/header")%> 
    
<main>
    <section id= "contenedor">
            <h1><%= proyecto.nombre %></h1>
            <h4>Lorem ipsum lorem ipsum lorem ipsum</h4>
    </section>
    <section id= "contPrincipal">
        <article id="contPrincipal1">
            <img src="/uploads/products/<%= proyecto.images[0] %>" alt="imagen">
            <p><i class="fas fa-map-marker-alt"></i> SA Miguel, TUC</p>
        </article>
        <article id="contPrincipal2">
                <h1><%= proyecto.nombre %></h1>
                <h2>$<%= proyecto.contribucionActual %></h2>
                <h1>contribuido de meta $<%= proyecto.contribucionFinal %></h1>
                <p>Hasta el <%= proyecto.fecha %></p>
                <button><a href="/carrito">Patrocina esta campaña</a></button>
                <% if(user && user.admin) {%>
                <button><a href="">Editar campaña</a></button>
                <%}%>
        </article>
    </section>
    <section id="campaña">
            <h3>Campaña</h3>
            <h3><a href="/carrito">Patrocina esta campaña</a></h3>
            <h3><a href=""><i class="far fa-bookmark"></i> Recuerdame</a></h3>
    </section>
    <section id="descripcion">
        <h1>HISTORIA</h1>
        <h2>
            <%= proyecto.nombre %>
        </h2>
        <p> 
            <%= proyecto.texto %> 
        </p>
    <img src="/uploads/products/<%= proyecto.images[0] %> " alt="imagen">
    </section>
    <section id="imgsProyecto">
        <% proyectos.images.forEach(images => { %>
            <img src="/uploads/products/<%= images%> " alt="imagen" class= "imgChica">
        <% }) %>
    </section>
    <section id="cajaRecomendaciones">
        <h1>También recomendamos</h1>
        <article class="recomendacion">
            <img src="/uploads/products/acasis/acasis-2.jpg" alt="imagen de recomendacion">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
        </article>
        <article class="recomendacion">
            <img src="/uploads/products/acasis/acasis-2.jpg" alt="imagen de recomendacion">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
        </article>
        <article class="recomendacion">
            <img src="/uploads/products/acasis/acasis-2.jpg" alt="imagen de recomendacion">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
        </article>
        <article class="recomendacion">
            <img src="/uploads/products/acasis/acasis-2.jpg" alt="imagen de recomendacion">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
        </article>          
    </section>
</main>
    
    <%- include("../partials/footer")%> 

</body>
</html>
    

    
    