<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head",{"css":["header", "formularioEditar", "footer"]})%>

<body>
    <%-include("../partials/header")%> 
    <main>
        <section class="titulo">
            <h2>Edición de Proyectos</h2>
        </section>
        <section class="formulario">
            <form action="/proyecto/actualizar/<%= proyecto.id %>?_method=PUT" method="POST" id="editarProyectos" enctype="multipart/form-data">
                <fieldset id="nombre-proyecto">
                    <label for="nombreProducto">Nombre de tu proyecto: </label>
                    <input type="text" placeholder="<%= proyecto.nombre %>" name="nombreProducto" id="nombre-proyecto" value="<%= proyecto.nombre %>">
                </fieldset>
                <fieldset id="ubicacion-proyecto">
                    <label id="ubicacion-proyecto">Contanos de donde sos:</label>
                    <input type="text" placeholder="<%= proyecto.ubicacion %>" name="ubicacion" id="ubicacion" value="<%= proyecto.ubicacion %>" >
                </fieldset>
                <h3>¡Elige la categoria de tu proyecto!</h3>
                <fieldset><p>Tu categoria actual es <%if(proyecto.categoria_id === categorias.id){categorias.nombre}
                    %></p>
                </fieldset>
                <fieldset id="categorias-proyecto">
                    <% categorias.forEach(categoria => { %>
                        <label for="<%= categoria.id %>"><%= categoria.nombre%></label>
                        <input type= "radio" name="categoria" id="<%= categoria.id %>" value="<%= categoria.id %>">
                    <% }) %>
                </fieldset>
                <fieldset id="descripcion-proyecto">
                    <h3>¡Contanos de que se trata tu proyecto!</h3>
                    <p>(Quedate tranquilo que mas adelante podes editar la información)</p>
                    <textarea name="textoProyecto" rows="15" cols="30" placeholder="<%= proyecto.texto %>" id="textoProyecto" value="<%= proyecto.texto %>" ></textarea>
                </fieldset>
                <fieldset id="fecha-proyecto">
                    <label for="fecha">Establece la fecha limite de tu proyecto</label>
                    <input type="date" id="fechaProyecto" min="2021-01-01" max="2099-12-31" name="fechaProyecto" value="<%=proyecto.fecha_limite%>" >
                </fieldset>
                <fieldset id="fotos-proyecto">
                    <!-- <%// proyecto.imagenes.forEach(proyecto => { %>
                    <img src="/uploads/products/<%= //proyecto.imagenes[0]%>">
                    <%// }) %> -->
                    <label for="fotosProyecto">Subí una o varias fotos</label>
                    <input type="file" name="fotosProyecto" id="fotosProyecto" >
                </fieldset>
                </fieldset>
                <fieldset id="precio-proyecto">
                    <h3>¡Establece una meta para tu proyecto!</h3>
                    <label for="precioProyecto"></label>
                    <input type="number" name="precioProyecto" id="precioProyecto" placeholder="<%= proyecto.contribucion_final %>" value="<%= proyecto.contribucion_final %>" >
                </fieldset>
                <fieldset class="flex-botones">
                    <button type="submit"> Enviar</button>
                    <button type="reset"> Reiniciar</button>
                </fieldset>
            </form>
            </section>
    </main>
    <%-include("../partials/footer")%> 
    <script src="/js/proyectEditForm.js"></script>
</body>
</html>