<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head",{"css":["header", "home", "footer"]})%>

<body>
    <%-include("./partials/header")%>  
    <main>
        <section class="campañaDestacada margin-body">
            <section>
                <h2 class="titulo-h2">
                    Campaña Destacada! 
                </h2>
            </section>
            <section class="campañaDestacada-1">           
                <section class="flex-camapañaDestacada">
                    <figure>
                    <a href="/proyecto/producto/<%= random.id %>"><img src="/uploads/products/<%= (random.imagenes[0] != undefined || random.imagenes[0] != null)  ? random.imagenes[0].url_imagen : "/uploads/products/defaultImagen.jpg"%>"  alt="imagen"></a>
                    </figure>

<!-- (random.imagenes != []) ? random.imagenes[0].url_imagen : "producto/defaultImagen.jpg     : -->

                    <article>
                        <h2 class="titulo-reco"><%= random.nombre %></h2>
                        <h2 class="precio">$<%= random.contribucion_actual %></h2>
                        <p class="meta">contribuido de meta $<%= random.contribucion_final %></p>
                        <!-- <p class="patrocinadores"><%= //random.patrocinadores %> patrocinadores</p> -->
                        <p class="patrocinadores"><%= random.fecha_limite %></p>
                        <!-- <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> <%=// random.ubicacion %></p> -->
                    </article>
                </section>
                <section class="flex-thumbs">
                    <a href=""><i class="far fa-bookmark"></i></a>
                    <a href=""><i class="far fa-thumbs-up"></i></a>
                    <a href=""><i class="far fa-thumbs-down"></i></a>
                </section>
            </section>
        </section>
        <section class="recomendaciones margin-body">
                <section>
                    <h2 class="titulo-h2">Recomendaciones</h2>
                </section>
                <% recomendados.forEach(random => { %>
                    <section class="recomendaciones-1">
                        <section class="flex-recomendaciones">
                            <figure>
                                <a href="/proyecto/producto/<%= random.id %>"><img src="/uploads/products/<%= (random.imagenes[0] != undefined || random.imagenes[0] != null)  ? random.imagenes[0].url_imagen : "/uploads/products/defaultImagen.jpg"%>"  alt="imagen"></a>
                            </figure>
                            <article>
                                <h2 class="titulo-reco"><%= random.nombre %></h2>
                                <h2 class="precio">$<%= random.contribucion_actual %></h2>
                                <p class="meta">contribuido de meta $<%= random.contribucion_limite %></p>
                                <!-- <p class="patrocinadores"><%=// random.patrocinadores %> patrocinadores</p> -->
                                <p class="patrocinadores"><%= random.fecha_limite %></p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> <%=// random.ubicacion %></p>
                            </article>
                        </section>
                        <section class="flex-thumbs">
                            <a href=""><i class="far fa-bookmark"></i></a>
                            <a href=""><i class="far fa-thumbs-up"></i></a>
                            <a href=""><i class="far fa-thumbs-down"></i></a>
                        </section>
                    </section>
                    <% }) %>
        </section>
        <section class="comoFunciona">
            <section>
                <h2 class="titulo-h2">¿Como funciona TechnoStarter?</h2>
            </section>
            <section class="flex-comoFunciona">
                <article>
                    <section class="flex-comoFunciona-n">
                        <figure>
                            <img src="/img/technoStarter/numero1TechnoStarter.png" alt="">
                        </figure>
                    </section>
                    <section>
                        <h2>Iniciar una campaña</h2>
                        <p>Crea tu proyecto en TechnoStarter en pocos minutos a través de un procedimiento fácil y rápido.</p>
                    </section>
                </article>
                <article>
                    <section class="flex-comoFunciona-n">
                        <figure>
                            <img src="/img/technoStarter/numero2TechnoStarter.png" alt="">
                        </figure>
                    </section>
                    <section>
                        <h2>Comparte tu historia</h2>
                        <p>Comparte tu proyecto para obtener apoyo. Cuanta mas gente se interese en tu proyecto mas rapido llegaras a tu objetivo de donaciones.</p>
                    </section>
                </article>
                <article>
                    <section class="flex-comoFunciona-n">
                        <figure>
                            <img src="/img/technoStarter/numero3TechnoStarter.png" alt="">
                        </figure>
                    </section>
                    <section>
                        <h2>Gestiona tu campaña</h2>
                        <p>Recibe notificaciones sobre los nuevos donativos, mantén informados a tus donantes, envía agradecimientos, gestiona tus retiros de fondos y finaliza tu tan soñado proyecto!.</p>
                    </section>
                </article>
            </section>
        </section>
        <section class="nuestrosPatrocinios margin-body">
            <section>
                <h2 class="titulo-h2">Nuestros Patrocinios!</h2>
            </section>
            <article class="flex-patrocinios">
                <section>
                    <a href="https://www.kickstarter.com/"><i class="fab fa-kickstarter fa-3x"></i></a>
                </section>
                <section>
                    <a href="https://www.reddit.com/"><i class="fab fa-reddit-square fa-3x"></i></a>
                </section>
                <section>
                    <a href="https://www.amazon.com/"><i class="fab fa-amazon fa-3x"></i></a>
                </section>
                <section>
                    <a href="https://www.patreon.com/"><i class="fab fa-patreon fa-3x"></i></a>
                </section>
            </article>
        </section>
        <%- include("./partials/swiperScripts")  %> 
    </main>
    <%- include("./partials/footer")%> 
</body>

</html>