<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head",{"css":["header", "userEdit", "footer"]})%>

<body>
    <%-include("../partials/header")%> 
    <main>
        <section class="registrateAqui">
        <h2>
                Editá tu perfil     
        </h2>
        </section>
        <form action="/usuario/actualizarUsuario/<%= usuarios.id %>?_method=PUT" method="POST" id="formPrincipal" enctype="multipart/form-data">
            <fieldset>
                <% if (locals.errors) {
                    errors.forEach(error => { %>
                        <p class="mensaje-error"><%= error[i].msg %></p>
                <%   });
                } 
                %> 
                <label for="nombreCompleto">Nombre</label>
                <input type="text" placeholder="Nombre" id="nombreUsuario" name="nombreUsuario" value="<%= usuarios.nombre %>">
            </fieldset>
            <fieldset>
                <label for="nombreCompleto">Apellido</label>
                <input type="text" placeholder="Apellido" id="apellidoUsuario" name="apellidoUsuario" value="<%= usuarios.apellido %>">
            </fieldset>
            <fieldset>
                <label for="direccionDeCorreoElectronico">Direccion de correo electronico</label>
                <input type="text" placeholder="Direccion de correo electronico" id="direccionCorreoElectronico" name="direccionDeCorreoElectronico" value="<%= usuarios.email %>">
            </fieldset>
            <fieldset>
                <label for="ubicacion">¿De que parte de Argentina sos?</label>
                <input type="text" placeholder="¿De que parte sos?" id="ubicacionUser" name="ubicacionUser" required>
            </fieldset>
            <fieldset>
                <label for="contraseña">Contraseña</label>
                <input type="password" placeholder="Contraseña" id="clave" name="clave">
            </fieldset>
            <fieldset>
                <label for="confirmarContraseña">Confirmar Contraseña</label>
                <input type="password" placeholder="Confirmar contraseña" id="confirmarContraseña" name="confirmarContraseña">
            </fieldset>
            <fieldset id="foto-avatar">
                <label for="fotoAvatar">Cambiar Avatar</label>
                <input type="file" name="fotoAvatar" id="fotoAvatar" required>
            </fieldset>
            <fieldset id="flex-button">
                <button type="submit">Editar</button>
                <button type="reset">Resetear</button>
            </fieldset>
        </form>
    </main>
    <%- include("../partials/footer")  %> 
    <script src="/js/userEditForm.js"></script>
</body>
</html>