<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head",{"css":["header", "userEdit", "footer"]})%>

<body>
    <%-include("../partials/header")%> 
    <main>
        <section class="registrateAqui">
        <h2>
                Edición de Usuario      
        </h2>
        </section>
        <form action="/product/update/<%= usuarios.id %>?_method=PUT" method="POST" id="formPrincipal" enctype="multipart/form-data">
            <fieldset>
                <% if (locals.errors) {
                    errors.forEach(error => { %>
                        <p class="mensaje-error"><%= error[i].msg %></p>
                <%   });
                } 
                %> 
                <label for="nombreCompleto">Nombre</label>
                <input type="text" placeholder="Nombre" id="nombreUsuario" name="nombreUsuario" value="<%= usuarios.nombre %>">
            </fieldset>
            <fieldset>
                <label for="nombreCompleto">Apellido</label>
                <input type="text" placeholder="Apellido" id="apellidoUsuario" name="apellidoUsuario" value="<%= usuarios.apellido %>">
            </fieldset>
            <fieldset>
                <label for="direccionDeCorreoElectronico">Direccion de correo electronico</label>
                <input type="text" placeholder="Direccion de correo electronico" id="direccionCorreoElectronico" name="direccionDeCorreoElectronico" value="<%= usuarios.email %>">
            </fieldset>
            <fieldset>
                <label for="contraseña">Contraseña</label>
                <input type="password" placeholder="Contraseña" id="clave" name="clave">
            </fieldset>
            <fieldset>
                <label for="confirmarContraseña">Confirmar Contraseña</label>
                <input type="password" placeholder="Confirmar contraseña" id="confirmarContraseña" name="confirmarContraseña">
            </fieldset>
            <fieldset id="foto-avatar">
                <h3>Agrega tu Avatar!</h3>
                <label for="fotoAvatar">Subí tu foto</label>
                <input type="file" class="fotoAvatar" name="fotoAvatar" id="fotoAvatar" required>
            </fieldset>
            <fieldset id="flex-button">
                <button type="submit">Crear usuario</button>
                <button type="reset">Resetear</button>
            </fieldset>
            <fieldset class="aceptoLosTerminos">
                <label for="aceptoLosTerminos">Acepto los Términos y Condiciones y autorizo el uso de mis datos de acuerdo a la Declaración de Privacidad.</label>
                <input type="radio" name="recordarme" id="recordarme" required>
            </fieldset>
            <fieldset class='tener'>
                <p>¿Tenes una cuenta? <a href="/usuario/ingresar">Iniciar</a></p>
            </fieldset>
        </form>
    </main>
    <%- include("../partials/footer")  %> 
    <script src="/js/userEditForm.js"></script>
</body>
</html>