<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head",{"css":["header", "login", "footer"]})%>

<body>
    <%-include("../partials/header")%> 
    <main>
        <form action="/usuario/ingresarUsuario" method="POST" id="form-principal">
            <fieldset class="margin-body" id="input">
                <label for="email">Direccion de correo electronico</label>
                <input type="text" placeholder="E-mail" id="correo" name="correo" value="<%= locals.errors && !errors.correo ? old.correo : null %>">
                <% if (locals.errors && errors.email) { %>
                    <p class="feedback">
                    <%= errors.email.msg %> 
                    </p>
                    <% } %>
            </fieldset>
            <fieldset class="margin-body" id="input">
                <label for="clave">Contraseña</label>
                <input type="password" placeholder="Contraseña" id="clave" name="clave">
                <% if (locals.errors && errors.clave) { %>
                    <p class="feedback">
                    <%= errors.clave.msg %> 
                    </p>
                <% } %>
            </fieldset>
            <fieldset id="flex-recordarme">
                <input type="radio" name="recordarme" id="recordarme">
                <label for="recordarme">Recordarme</label>
            </fieldset>
            <fieldset id="flex-button">
                <button type="submit">Iniciar sesión <i class="fas fa-paper-plane"></i></button>
                <button type="reset">Resetear</button>
            </fieldset>
            <fieldset class="olvidarContraseña" id="flex-password">
                <p class="margin-body">¿Te olvidaste la contraseña?</p>
                <p>Recuperala<a href="/">aca</a></p>
            </fieldset>
            <fieldset class="olvidarContraseña" id="flex-password">
                <p class="margin-body">¿No estas registrado?</p>
                <p>Unite<a href="/usuario/registrarse">aca</i></a></p>
            </fieldset>
        </form>
    </main>
    <%- include("../partials/footer")  %> 
    </body>
</html>
