<html lang="en">
    <%-include("../partials/head",{"css":["header", "perfil", "footer"]})%>
    <body>
        <%-include("../partials/header")%> 
        <main id="contenedorPrincipal">
            <section id="formulario">
                <form>
                    <h2>Mi perfil</h2>
                        <section id="flex-avatar">
                            <figure id="avatarPreview">
                                <img src="/uploads/avatars/<%= user.avatar%>" alt="<%= user.nombre%>">     
                            </figure>
                            <article>
                                <h4>Nombre:</h4>
                                <%= user.nombre%>
                            </article>
                            <article>
                                <h4>Apellido:</h4>
                                <%= user.apellido%>
                            </article>
                            <article>
                                <h4>Email:</h4>
                                <%= user.email%>
                            </article>
                            <article>
                                <h4>Ubicacion:</h4>
                                <%= user.ubicacion%>
                            </article>
                        </section>
                    </form>
                    <article id="flex-botones">
                        <button><a href="/usuario/editarUsuario/<%= user.id %>">Editar usuario</a></button>
                        <button><a href="/usuario/borrar/<%= user.id %>">Borrar usuario</a></button>
                    </article>
                    <a href="/usuario/cerrarSesion">Salir <i class="fas fa-power-off"></i></a>
            </section>
            <section id="misProyectos">
                <h2>Mis Proyectos</h2>
                <% if(misProyectos.length > 0) { %>
                    <% misProyectos.forEach(element => { %>
                        <article>
                            <figure>
                                <a href="/proyecto/producto/<%= element.id %>"></a><img src="/uploads/products/defaultImagen.jpg" alt="<%= element.nombre %>">
                            </figure>
                            <%= element.nombre %>
                            <%= element.contribucion_final %> 
                            <%= element.fecha_limite %>
                            <button><a href="/proyecto/editar/<%= element.id %>">Editar campaña</a></button>
                            <button><a href="/proyecto/borrar/<%= element.id %>">Borrar campaña</a></button> 
                        </article>
                    <% }) %>
                <% }else{ %>
                    <h3>No tienes proyectos aún</h3>    
                <% } %>
                    
                
                <button><a href="/proyecto/crear">Crear Proyecto</a></button>
            </section>
        </main>
        <%- include("../partials/footer")  %> 
    </body>
    </html>