<html lang="en">
    <%-include("../partials/head",{"css":["header", "perfil", "footer"]})%>
    <body>
        <%-include("../partials/header")%> 
        <main>
            <section id="perfil">
                <form>
                    <button class="dashboard"><a href="http://localhost:3000">Dashboard</a></button>
                    <h2>Mi perfil</h2>
                        <section id="flex-avatar">
                            <figure id="avatarPreview">
                                <img src="/uploads/avatars/<%= user.avatar%>" alt="<%= user.nombre%>">     
                            </figure>
                            <article>
                                <h4>Nombre:</h4>
                                <%= user.nombre%>
                            </article>
                            <article>
                                <h4>Apellido:</h4>
                                <%= user.apellido%>
                            </article>
                            <article>
                                <h4>Email:</h4>
                                <%= user.email%>
                            </article>
                            <article>
                                <h4>Ubicacion:</h4>
                                <%= user.ubicacion%>
                            </article>
                        </section>
                    </form>
                    <article class="flex-botones">
                        <button><a href="/usuario/editarUsuario/<%= user.id %>">Editar usuario</a></button>
                        <a href="/usuario/cerrarSesion">Salir <i class="fas fa-power-off"></i></a>
                        <button><a href="/usuario/borrar/<%= user.id %>">Borrar usuario</a></button>
                    </article>
<<<<<<< HEAD
=======
                    <a href="/usuario/cerrarSesion" id="salir">Salir <i class="fas fa-power-off"></i></a>
>>>>>>> 0be25fd811194793cacfd316e0ce5aed75eb9247
            </section>
            <section id="misProyectos">
                    <h2>Mis Proyectos</h2>
                    <% if(misProyectos.length > 0) { %>
                        <% misProyectos.forEach(element => { %>
                            <section class= "contenedorProyecto">
                                <article class="imgProyecto">
                                    <figure class="recuadro-imagen">
                                        <a href="/proyecto/producto/<%= element.id %>"><img src="/uploads/products/<%= (element.imagenes[0] != undefined)  ? element.imagenes[0].url_imagen : "defaultImagen.jpg"%>" alt="<%= element.nombre %>"></a>
                                    </figure>
                                </article>
                                <article class="infoProyecto">
                                    <p><%= element.nombre %></p>
                                    <p><%= element.contribucion_final %></p> 
                                    <p><%= element.fecha_limite %></p>
                                <div class="flex-botones">
                                    <button><a href="/proyecto/editar/<%= element.id %>">Editar proyecto</a></button>
                                    <button><a href="/proyecto/borrar/<%= element.id %>">Borrar proyecto</a></button>
                                </div>
                                </article> 
                            </section>
                        <% }) %>
                    <% }else{ %>
                        <h3>No tienes proyectos aún</h3>    
                    <% } %>
                    <button><a href="/proyecto/crear">Crear Proyecto</a></button>
                </section>
        </main>
        <%- include("../partials/footer")  %> 
    </body>
    </html>