<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head",{"css":["header", "userList", "footer"]})%>

<body>
    <%-include("../partials/header")  %> 
    <main>
        <section>
            <h1>Usuarios</h1>
        </section>
        <% usuarios.forEach(usuario => { %>
         
            <section class="card">
                <article class="card-left">
                    <figure>
                        <img src="/uploads/avatars/<%= usuario.avatar ? usuario.avatar : 'usuarioPredeterminado.png' %>" alt="">
                    </figure>
                    <% if (usuario.admin) { %>
                        <h3>#<%= usuario.id %></h3>
                        <p>Admin: <%= usuario.admin %></p>
                        <%} %>
                    </article>
                    <article class="card-content">
                        <h3><%= usuario.nombre %> <%= usuario.apellido %></h3>
                        <p>Email: <a href="<%= usuario.correo %>" target="_blank"><%= usuario.correo %></a></p>
                        <article>
                            <a class="button" href="/usuario/<%= usuario.id %>">Ver detalle</a>
                        </article>
                    </article>   
                </section>
        <% }) %>
            </main>
            <%- include("../partials/footer")  %> 
    </body>
</html>